simulator-sample-rest/src/main/resources/META-INF/schemas/HelloService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://citrusframework.org/schemas/hello"
           targetNamespace="http://citrusframework.org/schemas/hello"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:element name="Hello" type="xs:string"/>
  <xs:element name="HelloResponse" type="xs:string"/>

  <xs:element name="GoodBye" type="xs:string"/>
  <xs:element name="GoodByeResponse" type="xs:string"/>

  <xs:element name="GoodNight" type="xs:string"/>
  <xs:element name="GoodNightResponse" type="xs:string"/>
</xs:schema>