simulator-spring-boot/src/test/resources/schema/TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TestService"
                  xmlns:tns="http://www.citrusframework.org/schema/samples/TestService/v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://www.citrusframework.org/schema/samples/TestService/v1"
                  xmlns="http://www.w3.org/2001/XMLSchema">

  <wsdl:documentation>Version 1.0</wsdl:documentation>

  <wsdl:types>
    <xs:schema xmlns="http://www.citrusframework.org/schema/samples/TestService/v1"
               xmlns:xs="http://www.w3.org/2001/XMLSchema"
               targetNamespace="http://www.citrusframework.org/schema/samples/TestService/v1"
               version="1.0"
               elementFormDefault="qualified"
               attributeFormDefault="unqualified">

      <xs:element name="TestRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="id" type="xs:integer"/>
            <xs:element name="flag" type="xs:boolean"/>
            <xs:element name="restricted">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:length value="10"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="name" type="xs:string"/>
          <xs:attribute name="id" type="xs:integer"/>
          <xs:attribute name="flag" type="xs:boolean"/>
        </xs:complexType>
      </xs:element>

      <xs:element name="TestResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="id" type="xs:integer"/>
            <xs:element name="flag" type="xs:boolean"/>
            <xs:element name="restricted">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:length value="10"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="name" type="xs:string"/>
          <xs:attribute name="id" type="xs:integer"/>
          <xs:attribute name="flag" type="xs:boolean"/>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="TestRequest">
    <wsdl:part name="parameters" element="tns:TestRequest"/>
  </wsdl:message>

  <wsdl:message name="TestResponse">
    <wsdl:part name="parameters" element="tns:TestResponse"/>
  </wsdl:message>

  <wsdl:portType name="TestPortType">
    <wsdl:operation name="test">
      <wsdl:input name="TestRequest" message="tns:TestRequest"/>
      <wsdl:output name="TestResponse" message="tns:TestResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:service name="TestService">
    <wsdl:port name="TestServiceHTTP"
               binding="tns:TestServiceHTTPBinding">
      <soap:address location="http://localhost:8080/services/ws/simulator/TestService/v1"/>
    </wsdl:port>
  </wsdl:service>

  <wsdl:binding name="TestServiceHTTPBinding"
                type="tns:TestPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="test">
      <soap:operation style="document"
                      soapAction="/TestService/test"/>
      <wsdl:input name="TestRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

</wsdl:definitions>
